{% extends "file_exchange/layout.html" %}
{% load static %}

{% block body %}
    <h3>Enter static listing info:</h3>
    <form method="POST" action="{% url 'unique' %}">
        {% for value in headers %}
            <div>
                <Label>{{ value.name }}</Label>
                {% if "*Category" in value.name %}
                    <input name="{{ value.name }}" value="{{ cat_id }}" type="text" disabled>
                {% else %}
                    <input name="{{ value.name }}" type="text">
                {% endif %}
            </div>
        {% endfor %}
        <input hidden value="{{ file_id }}" type="text" name="file_id">
        <button type="submit">Submit</button>
    </form>
{% endblock %}